/* You can add global styles to this file, and also import other style files */
@font-face {

    font-family: "fuente";
    src: url('assets/fonts/roboto/Roboto-BlackItalic.ttf');
}

h1{
    font-family: 'fuente';
}

p{
    color:  black;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
